* {
    margin: 0;
    padding: 0;
}

.headerdiv1 {
    background-color: rgb(70, 173, 173);
}

#logoimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mylinks {
    width: 43.5%;
    height: 50px;
    background-color: white;
    margin-top: 20px;
}

.empty {
    width: 35.8%;
    height: 50px;
    background-color: white;
    border: none;
    outline: none;
}

.centerStyle {
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(70, 173, 173);
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

#birdimage {
    padding-top: 20px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
    width: 100px;
    height: 50px;
    background-color: orange;
    font-size: medium;
    position: relative;
    right: 450%;
    -ms-transform: translateX(10%);
    transform: translateX(50%);
}

.search {
    display: flex;
    padding-bottom: 20px;
}

.maindiv1 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: whitesmoke;
    margin: 0px 10px;
}

.imagestext {
    padding: 20px 0px;
    text-align: center;
}

.imagetext a:hover {
    background-color: #111111;
    color: orange;
}

.maindiv1 img {
    width: 90%;
    padding: 10px 0px;
    border-radius: 25px;
}

.maindiv1 a {
    color: rgb(70, 173, 173);
    padding: 20px;
}

.footerdiv {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
}
    
.addedClass {
    /* background-color: black; */
    color: orange;
}
